simplescalar3.0e/
bpred.o
cache.o
dlite.o
eio.o
endian.o
eval.o
loader.o
machine.o
main.o
memory.o
misc.o
options.o
ptrace.o
range.o
regs.o
resource.o
sim-bpred.o
sim-cache.o
sim-eio.o
sim-fast.o
sim-outorder.o
sim-profile.o
sim-safe.o
stats.o
symbol.o
syscall.o
sim-bpred
sim-cache
sim-eio
sim-fast
sim-outorder
sim-profile
sim-safe
sysprobe
libexo/exolex.o
libexo/libexo.o
OUT
tests-alpha/sysprobe
tests-pisa/sysprobe
.project
.cproject
.settings/
